body{
 overflow-x: hidden;
}

.wrapper{
    
    height: 35vh;
}

.header{
    display: flex;
    justify-content: space-between;
}
.right_sections > button{
    margin-left: 10px;
}

.right_sections{
    display: flex;
}

button{
    font-size: 16px;
}
